.addTopic{
    height: 500px;
    width: 300px;
    margin: 0 auto;
    position: relative;
    z-index: 999;
    form{
        height: 100%;
        width: 100%;
    }
    div{
        font-weight: bold;
        font-size: 20px;
    }
    .el-input,
    .el-button{
        margin: 10px 0;
        width: 300px;
    }
}