.index{
    overflow: hidden;
    height: 100%;
    .el-row{
        text-align: center;
        // &:nth-child(1),
        &:nth-child(2){
            height: 40px;
        }
        &:nth-child(1){
            height: calc(100% - 40px);
            ul{
                height: calc(100% - 20px);
                padding: 10px;
                li{
                    height: 10%;
                    border-bottom: 1px solid #aaa;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        background-color: rgba(204, 204, 204, .5);
                    }
                    a{
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }
    .dialog-bar{
        z-index: 999;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: .8;
        .topic-content{
            width: 300px;
            padding: 20px;
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translate(-50%,0);
            background-color: #fff;
            opacity: 1;
            border-radius: 5px;
            max-height: 300px;
            overflow: auto;
            .topic-name{
                font-weight: bold;
            }
            .el-icon-close{
                position: absolute;
                right: 10px;
                cursor: pointer;
                &:hover{
                    color: rgb(133, 194, 255);
                }
            }
            .topic-msg{
                padding-top: 10px;
            }
            .btn{
                margin-top: 20px;
                text-align: right;
            }
        }
    }
}