.end{
    height: 300px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 16px;
    padding-top: 100px;
    text-align: center;
    .el-row{
        width: 100%;
        box-sizing: border-box;
    }
    label{
        float: left;
        
        position: relative;
        left: 50%;
        transform: translate(-170%, 0);
    }
    .el-button{
        // margin: 0 auto;
        width: 320px;
    }
}
@media (max-width: 500px){
    .end{
    label{
        padding-left: 30px ;
    }
}
}