.suggest{
    height: 100%;
    width: 100%;
    position: relative;
    form{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        .el-button,
        .el-input{
            width: 220px;
            height: 40px;
            line-height: 40px;
            flex: 1;
            box-sizing: border-box;
            padding: 0;
            margin-top: 10px;
        }
        .el-textarea{
            margin-top: 10px;
        }
    }
}