.my-login{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,.8);
    z-index: 9999;
    .content{
        background-color: #fff;
        position: absolute;
        border-radius: 5px;
        width: 200px;
        padding: 20px 50px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        .form{
            .tips{
                background-color: rgb(255,246,219);
                border: 1px solid rgb(245,246,167);
                font-size: 14px;
                height: 20px;
                line-height: 20px;
                font-weight: normal;
            }
            i.el-icon-remove{
                color: orange;
            }
            p{
                text-align: center;
                font-weight: bold;
            }
            .el-input{
                width: 200px;
                height: 40px;
                line-height: 40px;
                box-sizing: border-box;
                margin-top: 10px;
            }
            .el-button{
                width: 200px;
                margin-top: 10px;
            }
        }
    }
    
}