.my-login{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,.8);
    z-index: 9999;
    .content{
        background-color: #fff;
        position: absolute;
        border-radius: 5px;
        width: 200px;
        padding: 20px 50px;
        left: calc(50% - 150px);
        top: 100px;
        form{
            // display: flex;
            // flex-direction: column;
            .el-button,
            .el-input{
                width: 200px;
                height: 40px;
                line-height: 40px;
                flex: 1;
                box-sizing: border-box;
                padding: 0;
                margin-top: 10px;
            }
        }
    }
    
}