.personal {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    .el-form {
        .el-input,
        .el-button {
        display: inline-block;
        width: 300px;
        }
        .el-button{
            width: 320px;
            position: relative;
            z-index: 999;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }
}